

.Apresentacao {
    background-color: #2685BF;    
}

.lista-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.texto-quem-somos {
    color: white;
}

#quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
.img-quem-somos,
.texto-quem-somos {
    flex: 1;
    max-width: 50%;
}
  
.img-quemsomos {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    height: 200px;
}

@media (max-width: 320px) {
    .img-quem-somos,
    .texto-quem-somos {
      max-width: 100%;
      flex: 100%;
    }
  }
  