.Menu {
    background-color: #3C91C5;
    padding: 10px;
    width: 98%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.img-logo {
    height: 70px;
}

nav {
    display: flex;
    height: 70px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.icones {
    display: flex;
    margin-right: 10px;
}

.icone-menu {
    height: 30px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .Menu {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav, .icones {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .links {
    flex-direction: column;
    gap: 5px;
  }

  .link-menu {
    font-size: 16px;
  }

  .icone-menu {
    height: 25px;
  }
}
